/* body {
    background-color: #dfffdc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    text-align: center;
  }
   */
  /* h1 {
    font-size: 3em;
    margin: 20px 0;
    color: #0ccac4;
  }
  
  #searchBox {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #b0f0ff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  
  .card h2 {
    margin: 10px 0 5px;
  }
  
  .card p {
    color: #333;
  }
   */